<div class="card">
    <div class="card-header">
        <h4>{{ feedElement.description }}</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <h5>Athlete information</h5>
                <p>Name: {{ feedElement.athlete.name }}</p>
                <button type="button" 
                        class="btn btn-info" 
                        (click)="openModal(moreInfoAthlete)"
                        [@changeBtnColor]=animationState>
                    More information
                </button>
            </div>
            <div class="col-lg-5 col-md-12">
                <h6>Video</h6>
                <iframe
                    [src]="videoUrl" 
                    allowfullscreen="true" 
                    webkitallowfullscreen="true" 
                    mozallowfullscreen="true">
                </iframe> 
            </div>
            <div class="col-lg-4 col-md-12">
                <h6>Poster</h6>
                <img [src]="feedElement.video.poster"/>
            </div>
        </div>
        <p>Views: {{ feedElement.views }}</p>
    </div>
    <div class="card-footer text-muted">
        <p>Author: {{ feedElement.author.name }}</p>
        <p>Date: {{ feedElement.createdAt | date: 'short' }}, {{ feedElement.createdBefore }}</p>
        <p>Sport Group: {{ feedElement.sportGroup.name }}</p>
    </div>
</div>

<ng-template #moreInfoAthlete>
    <app-modal-athlete-information 
        [athleteInformation]="feedElement.athlete"
        (modalClosed)="animationReturnToNormal($event)"
        ></app-modal-athlete-information>
</ng-template>