.card {
    margin: 20px 0;
    background-color: #e9fcffc9;
    color:white;
}

p {
    margin-bottom: 0;
}

img {
    width: 280px;
    height: 200px;
    @media screen and (max-width: 350px) {
        width: 250px;
    }
}

iframe {
    width: 350px;
    height: 200px;

    @media screen and (max-width: 350px) {
        width: 250px;
    }
}
